<% title = 'Home' %>

<h1>welcome to home page</h1>
<% if (email) { %>
<p><%= email %></p>
<form action="/logout">
  <button class="btn btn-outline-dark text-dark-subtle" type="submit">
    Logout
  </button>
</form>
<% } %>
